<table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%"
    border="0">
    <tbody>
        <tr>
            <td style="overflow-wrap:break-word;word-break:break-word;padding:30px 10px 20px;font-family:arial,helvetica,sans-serif;"
                align="left">

                <h1
                    style="margin: 0px; color: #000000; line-height: 140%; text-align: center; word-wrap: break-word; font-size: 22px; ">
                    <strong>Recupera tu cuenta</strong>
                </h1>

            </td>
        </tr>
    </tbody>
</table>

<table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%"
    border="0">
    <tbody>
        <tr>
            <td style="overflow-wrap:break-word;word-break:break-word;padding:50px;font-family:arial,helvetica,sans-serif;"
                align="left">

                <div style="color: #2b2b2b; line-height: 140%; text-align: center; word-wrap: break-word;">
                    <p style="line-height: 140%;">Haz click en el enlace de abajo para cambiar tu contraseña. Se te redirigirá a una página en la que podrás cambiarle la contraseña a la cuenta.</p>
                </div>

            </td>
        </tr>
    </tbody>
</table>
